.rockitcoins__getstarted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rockitcoins__getstarted__heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

.rockitcoins__getstarted__heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 58px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04rem;
}

.rockitcoins__getstarted__heading p {
  font-family: var(--font-family);
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.04rem;
}

.rockitcoins__getstarted__container {
  display: flex;
  flex-direction: row;
}

.rockitcoins__getstarted__container__card {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.1rem;
}

.rockitcoins__getstarted__card__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--color-white);
  font-family: var(--font-family);
  border-radius: 16px;
  box-shadow: #716b94 0px 4px 4px 0px;
  margin-top: 1.5rem;
}

.rockitcoins__getstarted__card__icon {
  display: flex;
}

.rockitcoins__getstarted__card__icon span {
  font-size: 45px;
  line-height: 30px;
}

.rockitcoins__getstarted__card__title {
  display: flex;
  font-family: var(--font-family);
  font-size: 0.7rem;
  padding: 0.5rem;
}

.rockitcoins__getstarted__card__message {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .rockitcoins__getstarted__container__card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .rockitcoins__getstarted__container__card {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .rockitcoins__getstarted__heading h1 {
    font-size: 38px;
    line-height: 36px;
    margin-bottom: 0.3rem;
  }

  .rockitcoins__getstarted__heading p {
    font-size: 16px;
    line-height: 18px;
  }
}
